<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Python for Finance (2nd ed.)

**Mastering Data-Driven Finance**

&copy; Dr. Yves J. Hilpisch | The Python Quants GmbH

<img src="http://hilpisch.com/images/py4fi_2nd_shadow.png" width="300px" align="left">

# Data Analysis with pandas

## pandas Basics

### First Steps with DataFrame Class

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([10, 20, 30, 40],  
                  columns=['numbers'],  
                  index=['a', 'b', 'c', 'd'])

In [3]:
df

   numbers
a       10
b       20
c       30
d       40

In [4]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
df.columns

Index(['numbers'], dtype='object')

In [6]:
df.loc['c']

numbers    30
Name: c, dtype: int64

In [7]:
df.loc[['a', 'd']]

   numbers
a       10
d       40

In [8]:
df.iloc[1:3]

   numbers
b       20
c       30

In [9]:
df.sum()

numbers    100
dtype: int64

In [10]:
df.apply(lambda x: x ** 2)

   numbers
a      100
b      400
c      900
d     1600

In [11]:
df ** 2

   numbers
a      100
b      400
c      900
d     1600

In [12]:
df['floats'] = (1.5, 2.5, 3.5, 4.5)

In [13]:
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [14]:
df['floats']

a    1.5
b    2.5
c    3.5
d    4.5
Name: floats, dtype: float64

In [15]:
df['names'] = pd.DataFrame(['Yves', 'Sandra', 'Lilli', 'Henry'],
                           index=['d', 'a', 'b', 'c'])

In [16]:
df

   numbers  floats   names
a       10     1.5  Sandra
b       20     2.5   Lilli
c       30     3.5   Henry
d       40     4.5    Yves

In [17]:
# DEPRECATED:
# df.append({'numbers': 100, 'floats': 5.75, 'names': 'Jil'},
#               ignore_index=True)

In [18]:
pd.concat((df, pd.DataFrame({'numbers': 100, 'floats': 5.75, 'names': 'Jil'}, index=[0,])),
               ignore_index=True)

   numbers  floats   names
0       10    1.50  Sandra
1       20    2.50   Lilli
2       30    3.50   Henry
3       40    4.50    Yves
4      100    5.75     Jil

In [19]:
# DEPRECATED:
# df = df.append(pd.DataFrame({'numbers': 100, 'floats': 5.75,
#                             'names': 'Jil'}, index=['y',]))

In [20]:
df = pd.concat((df, pd.DataFrame({'numbers': 100, 'floats': 5.75, 'names': 'Jil'}, index=[0,])),
               ignore_index=True)

In [21]:
df

   numbers  floats   names
0       10    1.50  Sandra
1       20    2.50   Lilli
2       30    3.50   Henry
3       40    4.50    Yves
4      100    5.75     Jil

In [22]:
# DEPRECATED
# df = df.append(pd.DataFrame({'names': 'Liz'}, index=['z',]), sort=False)

In [23]:
df.loc['z'] = {'names': 'Liz'}

In [24]:
df

   numbers  floats   names
0     10.0    1.50  Sandra
1     20.0    2.50   Lilli
2     30.0    3.50   Henry
3     40.0    4.50    Yves
4    100.0    5.75     Jil
z      NaN     NaN     Liz

In [25]:
df.dtypes

numbers    float64
floats     float64
names       object
dtype: object

In [26]:
df[['numbers', 'floats']].mean()

numbers    40.00
floats      3.55
dtype: float64

In [27]:
df[['numbers', 'floats']].std()

numbers    35.355339
floats      1.662077
dtype: float64

### Second Steps with DataFrame Class

In [28]:
import numpy as np

In [29]:
np.random.seed(100)

In [30]:
a = np.random.standard_normal((9, 4))

In [31]:
a

array([[-1.74976547,  0.3426804 ,  1.1530358 , -0.25243604],
       [ 0.98132079,  0.51421884,  0.22117967, -1.07004333],
       [-0.18949583,  0.25500144, -0.45802699,  0.43516349],
       [-0.58359505,  0.81684707,  0.67272081, -0.10441114],
       [-0.53128038,  1.02973269, -0.43813562, -1.11831825],
       [ 1.61898166,  1.54160517, -0.25187914, -0.84243574],
       [ 0.18451869,  0.9370822 ,  0.73100034,  1.36155613],
       [-0.32623806,  0.05567601,  0.22239961, -1.443217  ],
       [-0.75635231,  0.81645401,  0.75044476, -0.45594693]])

In [32]:
df = pd.DataFrame(a)

In [33]:
df

          0         1         2         3
0 -1.749765  0.342680  1.153036 -0.252436
1  0.981321  0.514219  0.221180 -1.070043
2 -0.189496  0.255001 -0.458027  0.435163
3 -0.583595  0.816847  0.672721 -0.104411
4 -0.531280  1.029733 -0.438136 -1.118318
5  1.618982  1.541605 -0.251879 -0.842436
6  0.184519  0.937082  0.731000  1.361556
7 -0.326238  0.055676  0.222400 -1.443217
8 -0.756352  0.816454  0.750445 -0.455947

In [34]:
df.columns = ['No1', 'No2', 'No3', 'No4']

In [35]:
df

        No1       No2       No3       No4
0 -1.749765  0.342680  1.153036 -0.252436
1  0.981321  0.514219  0.221180 -1.070043
2 -0.189496  0.255001 -0.458027  0.435163
3 -0.583595  0.816847  0.672721 -0.104411
4 -0.531280  1.029733 -0.438136 -1.118318
5  1.618982  1.541605 -0.251879 -0.842436
6  0.184519  0.937082  0.731000  1.361556
7 -0.326238  0.055676  0.222400 -1.443217
8 -0.756352  0.816454  0.750445 -0.455947

In [36]:
df['No2'].mean()

0.701033094145646

In [37]:
dates = pd.date_range('2019-1-1', periods=9, freq='M')

In [38]:
dates

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30'],
              dtype='datetime64[ns]', freq='M')

In [39]:
df.index = dates

In [40]:
df

                 No1       No2       No3       No4
2019-01-31 -1.749765  0.342680  1.153036 -0.252436
2019-02-28  0.981321  0.514219  0.221180 -1.070043
2019-03-31 -0.189496  0.255001 -0.458027  0.435163
2019-04-30 -0.583595  0.816847  0.672721 -0.104411
2019-05-31 -0.531280  1.029733 -0.438136 -1.118318
2019-06-30  1.618982  1.541605 -0.251879 -0.842436
2019-07-31  0.184519  0.937082  0.731000  1.361556
2019-08-31 -0.326238  0.055676  0.222400 -1.443217
2019-09-30 -0.756352  0.816454  0.750445 -0.455947

In [41]:
df.values

array([[-1.74976547,  0.3426804 ,  1.1530358 , -0.25243604],
       [ 0.98132079,  0.51421884,  0.22117967, -1.07004333],
       [-0.18949583,  0.25500144, -0.45802699,  0.43516349],
       [-0.58359505,  0.81684707,  0.67272081, -0.10441114],
       [-0.53128038,  1.02973269, -0.43813562, -1.11831825],
       [ 1.61898166,  1.54160517, -0.25187914, -0.84243574],
       [ 0.18451869,  0.9370822 ,  0.73100034,  1.36155613],
       [-0.32623806,  0.05567601,  0.22239961, -1.443217  ],
       [-0.75635231,  0.81645401,  0.75044476, -0.45594693]])

In [42]:
np.array(df)

array([[-1.74976547,  0.3426804 ,  1.1530358 , -0.25243604],
       [ 0.98132079,  0.51421884,  0.22117967, -1.07004333],
       [-0.18949583,  0.25500144, -0.45802699,  0.43516349],
       [-0.58359505,  0.81684707,  0.67272081, -0.10441114],
       [-0.53128038,  1.02973269, -0.43813562, -1.11831825],
       [ 1.61898166,  1.54160517, -0.25187914, -0.84243574],
       [ 0.18451869,  0.9370822 ,  0.73100034,  1.36155613],
       [-0.32623806,  0.05567601,  0.22239961, -1.443217  ],
       [-0.75635231,  0.81645401,  0.75044476, -0.45594693]])

## Basic Analytics

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2019-01-31 to 2019-09-30
Freq: M
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No1     9 non-null      float64
 1   No2     9 non-null      float64
 2   No3     9 non-null      float64
 3   No4     9 non-null      float64
dtypes: float64(4)
memory usage: 360.0 bytes

In [44]:
df.describe()

            No1       No2       No3       No4
count  9.000000  9.000000  9.000000  9.000000
mean  -0.150212  0.701033  0.289193 -0.387788
std    0.988306  0.457685  0.579920  0.877532
min   -1.749765  0.055676 -0.458027 -1.443217
25%   -0.583595  0.342680 -0.251879 -1.070043
50%   -0.326238  0.816454  0.222400 -0.455947
75%    0.184519  0.937082  0.731000 -0.104411
max    1.618982  1.541605  1.153036  1.361556

In [45]:
df.sum()

No1   -1.351906
No2    6.309298
No3    2.602739
No4   -3.490089
dtype: float64

In [46]:
df.mean()

No1   -0.150212
No2    0.701033
No3    0.289193
No4   -0.387788
dtype: float64

In [47]:
df.mean(axis=0)

No1   -0.150212
No2    0.701033
No3    0.289193
No4   -0.387788
dtype: float64

In [48]:
df.mean(axis=1)

2019-01-31   -0.126621
2019-02-28    0.161669
2019-03-31    0.010661
2019-04-30    0.200390
2019-05-31   -0.264500
2019-06-30    0.516568
2019-07-31    0.803539
2019-08-31   -0.372845
2019-09-30    0.088650
Freq: M, dtype: float64

In [49]:
df.cumsum()

                 No1       No2       No3       No4
2019-01-31 -1.749765  0.342680  1.153036 -0.252436
2019-02-28 -0.768445  0.856899  1.374215 -1.322479
2019-03-31 -0.957941  1.111901  0.916188 -0.887316
2019-04-30 -1.541536  1.928748  1.588909 -0.991727
2019-05-31 -2.072816  2.958480  1.150774 -2.110045
2019-06-30 -0.453834  4.500086  0.898895 -2.952481
2019-07-31 -0.269316  5.437168  1.629895 -1.590925
2019-08-31 -0.595554  5.492844  1.852294 -3.034142
2019-09-30 -1.351906  6.309298  2.602739 -3.490089

In [50]:
np.mean(df)

0.11305673136774012

In [51]:
# raises warning
np.log(df)

/Users/yves/Python/envs/py4fi/lib/python3.10/site-packages/pandas/core/internals/blocks.py:366: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)

                 No1       No2       No3       No4
2019-01-31       NaN -1.070957  0.142398       NaN
2019-02-28 -0.018856 -0.665106 -1.508780       NaN
2019-03-31       NaN -1.366486       NaN -0.832033
2019-04-30       NaN -0.202303 -0.396425       NaN
2019-05-31       NaN  0.029299       NaN       NaN
2019-06-30  0.481797  0.432824       NaN       NaN
2019-07-31 -1.690005 -0.064984 -0.313341  0.308628
2019-08-31       NaN -2.888206 -1.503279       NaN
2019-09-30       NaN -0.202785 -0.287089       NaN

In [52]:
np.sqrt(abs(df))

                 No1       No2       No3       No4
2019-01-31  1.322787  0.585389  1.073795  0.502430
2019-02-28  0.990616  0.717091  0.470297  1.034429
2019-03-31  0.435311  0.504977  0.676777  0.659669
2019-04-30  0.763934  0.903796  0.820196  0.323127
2019-05-31  0.728890  1.014757  0.661918  1.057506
2019-06-30  1.272392  1.241614  0.501876  0.917843
2019-07-31  0.429556  0.968030  0.854986  1.166857
2019-08-31  0.571173  0.235958  0.471593  1.201340
2019-09-30  0.869685  0.903578  0.866282  0.675238

In [53]:
np.sqrt(abs(df)).sum()

No1    7.384345
No2    7.075190
No3    6.397719
No4    7.538440
dtype: float64

In [54]:
100 * df + 100

                   No1         No2         No3         No4
2019-01-31  -74.976547  134.268040  215.303580   74.756396
2019-02-28  198.132079  151.421884  122.117967   -7.004333
2019-03-31   81.050417  125.500144   54.197301  143.516349
2019-04-30   41.640495  181.684707  167.272081   89.558886
2019-05-31   46.871962  202.973269   56.186438  -11.831825
2019-06-30  261.898166  254.160517   74.812086   15.756426
2019-07-31  118.451869  193.708220  173.100034  236.155613
2019-08-31   67.376194  105.567601  122.239961  -44.321700
2019-09-30   24.364769  181.645401  175.044476   54.405307

## Basic Visualization

In [55]:
from pylab import plt, mpl  
plt.style.use('seaborn-v0_8')  
mpl.rcParams['font.family'] = 'serif'  
%config InlineBackend.figure_format = 'svg'

In [56]:
df.cumsum().plot(lw=2.0, figsize=(10, 6));

In [57]:
df.plot.bar(figsize=(10, 6), rot=30);  
# df.plot(kind='bar', figsize=(10, 6))

## Series Class

In [58]:
type(df)

pandas.core.frame.DataFrame

In [59]:
S = pd.Series(np.linspace(0, 15, 7), name='series')

In [60]:
S

0     0.0
1     2.5
2     5.0
3     7.5
4    10.0
5    12.5
6    15.0
Name: series, dtype: float64

In [61]:
type(S)

pandas.core.series.Series

In [62]:
s = df['No1']

In [63]:
s

2019-01-31   -1.749765
2019-02-28    0.981321
2019-03-31   -0.189496
2019-04-30   -0.583595
2019-05-31   -0.531280
2019-06-30    1.618982
2019-07-31    0.184519
2019-08-31   -0.326238
2019-09-30   -0.756352
Freq: M, Name: No1, dtype: float64

In [64]:
type(s)

pandas.core.series.Series

In [65]:
s.mean()

-0.1502117730731945

In [66]:
s.plot(lw=2.0, figsize=(10, 6));

## GroupBy Operations

In [67]:
df['Quarter'] = ['Q1', 'Q1', 'Q1', 'Q2', 'Q2',
                 'Q2', 'Q3', 'Q3', 'Q3']
df

                 No1       No2       No3       No4 Quarter
2019-01-31 -1.749765  0.342680  1.153036 -0.252436      Q1
2019-02-28  0.981321  0.514219  0.221180 -1.070043      Q1
2019-03-31 -0.189496  0.255001 -0.458027  0.435163      Q1
2019-04-30 -0.583595  0.816847  0.672721 -0.104411      Q2
2019-05-31 -0.531280  1.029733 -0.438136 -1.118318      Q2
2019-06-30  1.618982  1.541605 -0.251879 -0.842436      Q2
2019-07-31  0.184519  0.937082  0.731000  1.361556      Q3
2019-08-31 -0.326238  0.055676  0.222400 -1.443217      Q3
2019-09-30 -0.756352  0.816454  0.750445 -0.455947      Q3

In [68]:
groups = df.groupby('Quarter')

In [69]:
groups.size()

Quarter
Q1    3
Q2    3
Q3    3
dtype: int64

In [70]:
groups.mean()

              No1       No2       No3       No4
Quarter
Q1      -0.319314  0.370634  0.305396 -0.295772
Q2       0.168035  1.129395 -0.005765 -0.688388
Q3      -0.299357  0.603071  0.567948 -0.179203

In [71]:
groups.max()

              No1       No2       No3       No4
Quarter
Q1       0.981321  0.514219  1.153036  0.435163
Q2       1.618982  1.541605  0.672721 -0.104411
Q3       0.184519  0.937082  0.750445  1.361556

In [72]:
groups.aggregate(['min', 'max']).round(2)

          No1         No2         No3         No4
          min   max   min   max   min   max   min   max
Quarter
Q1      -1.75  0.98  0.26  0.51 -0.46  1.15 -1.07  0.44
Q2      -0.58  1.62  0.82  1.54 -0.44  0.67 -1.12 -0.10
Q3      -0.76  0.18  0.06  0.94  0.22  0.75 -1.44  1.36

In [73]:
df['Odd_Even'] = ['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even',
                  'Odd', 'Even', 'Odd']

In [74]:
groups = df.groupby(['Quarter', 'Odd_Even'])

In [75]:
groups.size()

Quarter  Odd_Even
Q1       Even        1
         Odd         2
Q2       Even        2
         Odd         1
Q3       Even        1
         Odd         2
dtype: int64

In [76]:
groups[['No1', 'No4']].aggregate(['sum', 'mean'])

                       No1                 No4
                       sum      mean       sum      mean
Quarter Odd_Even
Q1      Even      0.981321  0.981321 -1.070043 -1.070043
        Odd      -1.939261 -0.969631  0.182727  0.091364
Q2      Even      1.035387  0.517693 -0.946847 -0.473423
        Odd      -0.531280 -0.531280 -1.118318 -1.118318
Q3      Even     -0.326238 -0.326238 -1.443217 -1.443217
        Odd      -0.571834 -0.285917  0.905609  0.452805

## Complex Selection

In [77]:
data = np.random.standard_normal((10, 2))

In [78]:
df = pd.DataFrame(data, columns=['x', 'y'])

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       10 non-null     float64
 1   y       10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [80]:
df.head()

          x         y
0  1.189622 -1.690617
1 -1.356399 -1.232435
2 -0.544439 -0.668172
3  0.007315 -0.612939
4  1.299748 -1.733096

In [81]:
df.tail()

          x         y
5 -0.983310  0.357508
6 -1.613579  1.470714
7 -1.188018 -0.549746
8 -0.940046 -0.827932
9  0.108863  0.507810

In [82]:
df['x'] > 0.5

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: x, dtype: bool

In [83]:
(df['x'] > 0) & (df['y'] < 0)

0     True
1    False
2    False
3     True
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [84]:
(df['x'] > 0) | (df['y'] < 0)

0     True
1     True
2     True
3     True
4     True
5    False
6    False
7     True
8     True
9     True
dtype: bool

In [85]:
df[df['x'] > 0]

          x         y
0  1.189622 -1.690617
3  0.007315 -0.612939
4  1.299748 -1.733096
9  0.108863  0.507810

In [86]:
df.query('x > 0')

          x         y
0  1.189622 -1.690617
3  0.007315 -0.612939
4  1.299748 -1.733096
9  0.108863  0.507810

In [87]:
df[(df['x'] > 0) & (df['y'] < 0)]

          x         y
0  1.189622 -1.690617
3  0.007315 -0.612939
4  1.299748 -1.733096

In [88]:
df.query('x > 0 & y < 0')

          x         y
0  1.189622 -1.690617
3  0.007315 -0.612939
4  1.299748 -1.733096

In [89]:
df[(df.x > 0) | (df.y < 0)]

          x         y
0  1.189622 -1.690617
1 -1.356399 -1.232435
2 -0.544439 -0.668172
3  0.007315 -0.612939
4  1.299748 -1.733096
7 -1.188018 -0.549746
8 -0.940046 -0.827932
9  0.108863  0.507810

In [90]:
df > 0

       x      y
0   True  False
1  False  False
2  False  False
3   True  False
4   True  False
5  False   True
6  False   True
7  False  False
8  False  False
9   True   True

In [91]:
df[df > 0]

          x         y
0  1.189622       NaN
1       NaN       NaN
2       NaN       NaN
3  0.007315       NaN
4  1.299748       NaN
5       NaN  0.357508
6       NaN  1.470714
7       NaN       NaN
8       NaN       NaN
9  0.108863  0.507810

## Concatenation, Joining and Merging

In [92]:
df1 = pd.DataFrame(['100', '200', '300', '400'], 
                    index=['a', 'b', 'c', 'd'],
                    columns=['A',])

In [93]:
df1

     A
a  100
b  200
c  300
d  400

In [94]:
df2 = pd.DataFrame(['200', '150', '50'], 
                    index=['f', 'b', 'd'],
                    columns=['B',])

In [95]:
df2

     B
f  200
b  150
d   50

#### Concatenation

In [96]:
# DEPRECATED:
# df1.append(df2, sort=False)

In [97]:
# DEPRECATED:
# df1.append(df2, ignore_index=True, sort=False)

In [98]:
pd.concat((df1, df2), sort=False)

     A    B
a  100  NaN
b  200  NaN
c  300  NaN
d  400  NaN
f  NaN  200
b  NaN  150
d  NaN   50

In [99]:
pd.concat((df1, df2), ignore_index=True, sort=False)

     A    B
0  100  NaN
1  200  NaN
2  300  NaN
3  400  NaN
4  NaN  200
5  NaN  150
6  NaN   50

#### Joining

In [100]:
df1.join(df2)

     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50

In [101]:
df2.join(df1)

     B    A
f  200  NaN
b  150  200
d   50  400

In [102]:
df1.join(df2, how='left')

     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50

In [103]:
df1.join(df2, how='right')

     A    B
f  NaN  200
b  200  150
d  400   50

In [104]:
df1.join(df2, how='inner')

     A    B
b  200  150
d  400   50

In [105]:
df1.join(df2, how='outer')

     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50
f  NaN  200

In [106]:
df = pd.DataFrame()

In [107]:
df['A'] = df1['A']

In [108]:
df

     A
a  100
b  200
c  300
d  400

In [109]:
df['B'] = df2

In [110]:
df

     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50

In [111]:
df = pd.DataFrame({'A': df1['A'], 'B': df2['B']})

In [112]:
df

     A    B
a  100  NaN
b  200  150
c  300  NaN
d  400   50
f  NaN  200

#### Merging

In [113]:
c = pd.Series([250, 150, 50], index=['b', 'd', 'c'])
df1['C'] = c
df2['C'] = c

In [114]:
df1

     A      C
a  100    NaN
b  200  250.0
c  300   50.0
d  400  150.0

In [115]:
df2

     B      C
f  200    NaN
b  150  250.0
d   50  150.0

In [116]:
pd.merge(df1, df2)

     A      C    B
0  100    NaN  200
1  200  250.0  150
2  400  150.0   50

In [117]:
pd.merge(df1, df2, on='C')

     A      C    B
0  100    NaN  200
1  200  250.0  150
2  400  150.0   50

In [118]:
pd.merge(df1, df2, how='outer')

     A      C    B
0  100    NaN  200
1  200  250.0  150
2  300   50.0  NaN
3  400  150.0   50

In [119]:
pd.merge(df1, df2, left_on='A', right_on='B')

     A    C_x    B  C_y
0  200  250.0  200  NaN

In [120]:
pd.merge(df1, df2, left_on='A', right_on='B', how='outer')

     A    C_x    B    C_y
0  100    NaN  NaN    NaN
1  200  250.0  200    NaN
2  300   50.0  NaN    NaN
3  400  150.0  NaN    NaN
4  NaN    NaN  150  250.0
5  NaN    NaN   50  150.0

In [121]:
pd.merge(df1, df2, left_index=True, right_index=True)

     A    C_x    B    C_y
b  200  250.0  150  250.0
d  400  150.0   50  150.0

In [122]:
pd.merge(df1, df2, on='C')

     A      C    B
0  100    NaN  200
1  200  250.0  150
2  400  150.0   50

In [123]:
pd.merge(df1, df2, on='C', how='outer')

     A      C    B
0  100    NaN  200
1  200  250.0  150
2  300   50.0  NaN
3  400  150.0   50

In [124]:
pd.merge(df1, df2, left_on='A', right_on='B')

     A    C_x    B  C_y
0  200  250.0  200  NaN

## Performance Aspects

In [125]:
data = np.random.standard_normal((1000000, 2))

In [126]:
data.nbytes

16000000

In [127]:
df = pd.DataFrame(data, columns=['x', 'y'])

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   x       1000000 non-null  float64
 1   y       1000000 non-null  float64
dtypes: float64(2)
memory usage: 15.3 MB

In [129]:
%time res = df['x'] + df['y']

CPU times: user 1.41 ms, sys: 1.99 ms, total: 3.4 ms
Wall time: 1.66 ms

In [130]:
res[:3]

0    0.387242
1   -0.969343
2   -0.863159
dtype: float64

In [131]:
%time res = df.sum(axis=1)

CPU times: user 61.3 ms, sys: 7.41 ms, total: 68.7 ms
Wall time: 68 ms

In [132]:
res[:3]

0    0.387242
1   -0.969343
2   -0.863159
dtype: float64

In [133]:
%time res = df.values.sum(axis=1)

CPU times: user 6.72 ms, sys: 1.63 ms, total: 8.35 ms
Wall time: 7.81 ms

In [134]:
res[:3]

array([ 0.3872424 , -0.96934273, -0.86315944])

In [135]:
%time res = np.sum(df, axis=1)

CPU times: user 60.4 ms, sys: 6.89 ms, total: 67.3 ms
Wall time: 66.4 ms

In [136]:
res[:3]

0    0.387242
1   -0.969343
2   -0.863159
dtype: float64

In [137]:
%time res = np.sum(df.values, axis=1)

CPU times: user 6.82 ms, sys: 1.75 ms, total: 8.57 ms
Wall time: 7.5 ms

In [138]:
res[:3]

array([ 0.3872424 , -0.96934273, -0.86315944])

In [139]:
%time res = df.eval('x + y')

CPU times: user 3.48 ms, sys: 5.25 ms, total: 8.73 ms
Wall time: 6.44 ms

In [140]:
res[:3]

0    0.387242
1   -0.969343
2   -0.863159
dtype: float64

In [141]:
%time res = df.apply(lambda row: row['x'] + row['y'], axis=1)

CPU times: user 3.54 s, sys: 69.9 ms, total: 3.61 s
Wall time: 3.62 s

In [142]:
res[:3]

0    0.387242
1   -0.969343
2   -0.863159
dtype: float64

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a> | <a href="mailto:training@tpq.io">training@tpq.io</a>